.DS_Store
build/*
!build/pj*/
!build/openssl*/

build/pj*/*
build/openssl*/*

!build/openssl*/lib/

!build/pj*/pjlib/
build/pj*/pjlib/*
!build/pj*/pjlib/lib/

!build/pj*/pjlib-util/
build/pj*/pjlib-util/*
!build/pj*/pjlib-util/lib/

!build/pj*/pjmedia/
build/pj*/pjmedia/*
!build/pj*/pjmedia/lib/

!build/pj*/pjnath/
build/pj*/pjnath/*
!build/pj*/pjnath/lib/

!build/pj*/pjsip/
build/pj*/pjsip/*
!build/pj*/pjsip/lib/

!build/pj*/third_party/
build/pj*/third_party/*
!build/pj*/third_party/lib/
