.DS_Store
build/*

# openh264
!build/openh264
build/openh264/*

!build/openh264/lib
!build/openh264/lib/*

# opus
!build/opus
build/opus/*

!build/opus/dependencies
build/opus/dependencies/*

!build/opus/dependencies/lib
!build/opus/dependencies/lib/*

# openssl
!build/openssl
build/openssl/*

!build/openssl/lib/
!build/openssl/lib/*
build/openssl/lib/.DS_Store

# pjsip
!build/pjproject
build/pjproject/*

!build/pjproject/src
build/pjproject/src/*

!build/pjproject/src/pjlib/
build/pjproject/src/pjlib/*
!build/pjproject/src/pjlib/lib/
!build/pjproject/src/pjlib/include/

!build/pjproject/src/pjlib-util/
build/pjproject/src/pjlib-util/*
!build/pjproject/src/pjlib-util/lib/
!build/pjproject/src/pjlib-util/include/

!build/pjproject/src/pjmedia/
build/pjproject/src/pjmedia/*
!build/pjproject/src/pjmedia/lib/
!build/pjproject/src/pjmedia/include/

!build/pjproject/src/pjnath/
build/pjproject/src/pjnath/*
!build/pjproject/src/pjnath/lib/
!build/pjproject/src/pjnath/include/

!build/pjproject/src/pjsip/
build/pjproject/src/pjsip/*
!build/pjproject/src/pjsip/lib/
!build/pjproject/src/pjsip/include/

!build/pjproject/src/third_party/
build/pjproject/src/third_party/*
!build/pjproject/src/third_party/lib/
!build/pjproject/src/third_party/include/
